:root {
  --black: #000;
  --primary: #2a2a2a;
  --body_text: #383a42;
  --secondary_text: #b28f23;
  --secondary_shadow: rgba(209, 187, 55, 0.2);
  --hover: #f6f1d7;
  --background: #f8f8f8;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

@media screen and (max-width: 800px) {
  nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(163, 163, 163, 0.351);
  }
  .arrow {
    width: 18px;
    height: 18px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
  }
  .date {
    margin-right: 10px;
  }
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 40px;
  }
  .title {
    font-size: 36px;
    font-family: "Times New Roman", Times, serif;
    margin: 20px 40px 0px 40px;
    font-weight: 400;
  }
  .ourStory {
    font: 26px;
    font-weight: 300;
  }
  .boshiHailey {
    height: 222px;
    border-radius: 8px;
    border: 1px solid var(--nero-100, #2a2a2a);
    width: 327px;
  }
  .us {
    height: 222px;
    border-radius: 8px;
    border: 1px solid var(--nero-100, #2a2a2a);
    width: 327px;
  }
}
